# .env example for dev profile
LOCAL_HOST=localhost
POSTGRES_HOST=postgres-db
REDIS_HOST=redis-db
POSTGRES_DB=postgres_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# .env.local example for local profile
LOCAL_HOST=localhost
REDIS_HOST=localhost
POSTGRES_HOST=localhost
POSTGRES_DB=postgres_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres