DOCKER = docker
COMPOSE = docker compose -p transcend
COMPOSE_IGNORE_ORPHANS=True
EMAIL=makeTest@gmail.com
REG_EMAIL=makeTest@gmail.com
PASSWORD=12345asdfg
REG_PASSWORD=12345asdfg
ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIyMzM4ZGU2Ny0xOTdlLTRhODYtOWZkOS02ODM2NTM3MTllMjUiLCJpYXQiOjE3ODY5NjE4NjksImV4cCI6MTc4NzA0ODI2OX0.OIcKmlgNyD0MUh5TUX3Fakza9h8n6l7ZgTPlBRYOGME
AVATAR_ID=00000000-0000-0000-0000-000000000000
USER_ID=d3d9611e-f75b-440b-abea-df6960052510
DISPLAY_NAME=MakeTestChack
USER_NAME=Alina
# GROUP=default
CHAT_ID=a98ae259-2159-4850-96c2-433e2eb9deac
